# HarmonyOS / DevEco Studio
.hvigor/
.idea/
build/
node_modules/
oh_modules/
local.properties
**/build
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/.codegenie/

# Build artifacts
*.hap
*.har
*.hsp

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE / Editor
*.swp
*.swo
*~
